*{
  box-sizing: border-box;
}
body{
  background-color: black;
  width: 100%;
  
  border: 2px solid black;
  margin: auto;
  
}
main{
  margin: auto;
  background-color: white;
}

  #chocolate-pizza{
  width: 100%;
  margin: auto;
}

#secondbody{
  width: 60%;
  margin: auto;
  background-color: white;
}

#thirdbody{
  width: 80%;
  margin: auto;
}
header{
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  align-content: center;
}
#iconBar{
  display: flex;
  width: 250px;
  flex-direction: row;
}
#iconBar img{
  align-self:center ;
}
#iconBar div ul{
  display: flex;
  align-content: center;
  flex-direction: row;
  padding: 5px;
}

header div{
  display: flex;

}
#logo{
  flex-direction: column;
}
